@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Nunito&display=swap');

:root {
    --primaryColor: #fff;
    --navColor1: #5F8670;
    --navColor2: #FF9800;
    --navColor3: #B80000;
    --navColor4: #820300;
    --navColor5: #820400;
}

.page-title {
    font-family: 'Nunito', cursive;
    font-size: 3rem;
    color: #434245; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .page-title:hover {
    color: #fffdff;
    transform: translateY(5px); 
  }

.page-title {
    font-family: 'Nunito', cursive;
    font-size: 3rem;
    color: #565456; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 150px -48px -17px 0; 
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    transition: color 0.3s ease-in-out;
  }
  
  #home a {
    font-family: 'Nunito', cursive;
    font-size: 1.2rem;
    color: #939394;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    top: 40px; 
    left: 1rem;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
  }
  
  
  #home a:hover {
    color: #fefefe;
    text-decoration: none;
  }
  

section h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    color: var(--primaryColor);
  }
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
    font-family: 'Nunito', sans-serif;
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(-100vw);
}

.overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left {
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

nav ul li {
    height: 20%;
    overflow: hidden;
}

nav li a {
    position: relative;
    top: 45%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav li a:hover {
    transform: scale(1.2);
}

nav li a::before {
    content: "";
    width: 25vw;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 47.5%;
    left: 0;
}

nav li a:hover::before {
    opacity: 1;
}

nav li:nth-of-type(1) {
  background-image: url("https://images.unsplash.com/photo-1505673542670-a5e3ff5b14a3?q=80&w=1667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav li:nth-of-type(2) {
  background-image: url("https://images.unsplash.com/photo-1597965607143-cebb8bd52c48?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav li:nth-of-type(3) {
  background-image: url("https://images.unsplash.com/photo-1430797877645-98aa0693fb34?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


nav li:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1499578124509-1611b77778c8?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-position: center;
      background-repeat: no-repeat;
  }

nav li:nth-of-type(5) {
  background-image: url("https://images.unsplash.com/photo-1475738384599-8cf3db232ffa?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.11s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.menu-bars {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}



section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
}

section#home {
    background-image: url("https://images.unsplash.com/photo-1682685797828-d3b2561deef4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
}

section#home a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding-bottom: 5px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
}

section#about {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primaryColor);
    background-image: url("https://images.unsplash.com/photo-1505673542670-a5e3ff5b14a3?q=80&w=1667&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

section#skills {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primaryColor);
    background-image: url("https://images.unsplash.com/photo-1597965607143-cebb8bd52c48?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

section#projects {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primaryColor);
    background-image: url("https://images.unsplash.com/photo-1430797877645-98aa0693fb34?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

section#contact {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primaryColor);
    background-image: url("https://images.unsplash.com/photo-1475738384599-8cf3db232ffa?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}


@media (max-width: 600px) {
    section#home a {
        top: 1rem;
        left: 1rem;
    }

    .menu-bars {
        top: 0.5rem;
        right: 1rem;
    }
}
